@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root {
  --Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);
  --Dark-gray: hsl(0, 0%, 59%);
}

* {
  font-family: "Kumbh Sans", serif;
  box-sizing: border-box;
  font-size: 18px;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Dark-cyan);
  position: relative;
  overflow: hidden;
}

.card {
  border-radius: 24px;
  width: 350px;
  position: relative;
}

.card::after, .card::before {
  content: "";
  z-index: -1;
  display: block;
  width: 978px;
  height: 978px;
  position: absolute;
}

.card::before {
  top: -665px;
  left: -850px;
  background: url('./images/bg-pattern-top.svg') no-repeat;
}

.card::after {
  bottom: -780px;
  right: -800px;
  background: url('./images/bg-pattern-bottom.svg') no-repeat;
}

@media screen and (max-width: 400px) {
  .card {
    width: 90%;
  }

  .card::before {
    top: -750px;
    left: -775px;
  }

  .card::after {
    bottom: -750px;
    right: -750px;
  }
}

.top-image {
  background: url('./images/bg-pattern-card.svg') no-repeat center;
  height: 140px;
  width: 100%;
  border-radius: 16px 16px 0 0;
}

.content {
  background-color: white;
  border-radius: 0 0 16px 16px;
}

.user-details {
  padding: 24px;
  border-bottom: 1px solid #ededed;
  position: relative;
  height: 150px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.avatar {
  position: absolute;
  top: -50px;
  left: 50%;
  border-radius: 50%;
  padding: 5px;
  background-color: white;
  transform: translateX(-50%)
}

.user-info-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.user-name, .stat-number {
  color: var(--Very-dark-desaturated-blue);
  font-weight: bold;
}

.user-name {
  margin-right: 5px;
}

.user-age, .user-location, .stat-text {
  color: var(--Dark-gray);
}

.user-location {
  font-size: 14px;
}

.user-stat {
  display: flex;
  justify-content: space-around;
  padding: 24px;
  flex-wrap: wrap;
}

.user-stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stat-text {
  font-size: 10px;
  letter-spacing: 1px;
}

.attribution {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}